.topbar-appBar {
    height: 64px;
}
 
.topbar-toolbar {
    display: flex;
    align-items: center;
}
 
.topbar-name {
    margin-right: 24px;
    font-weight: bold;
}
 
.topbar-context {
    text-align: center;
    flrx-grow: 1;
}
 
.topbar-version {
    margin-left: 16px;
    opacity: 0.85;
}
 
